body{
  font-family:Arial;
}
.card-collection{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}
.standout{
  box-shadow: rgba(0,0,0,0.4) 0px 1px 4px, rgb(51,255,51) 0px 0px 0px 3px;
}
h1,h2,h3,h4,h5,footer,p{
  text-align:center;
}

.divLittleIcons{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.littleIcon{
  transition: 0.2s;
  width: 1.3rem;
  height: 1.3rem;;
  background-size: cover;
  background-position: center;
}
.littleIcon:hover {
  width: 1.5rem;
}
#trashIcon{
  background-image: url('images/svgs/Trash.svg');
}
#settingsIcon{
  background-image: url('images/svgs/Settings.svg');
}
#settingsIcon:hover {
  background-image: url('images/svgs/hoverSVGS/settingsHover.svg');
}
#trashIcon:hover {
  background-image: url('images/svgs/hoverSVGS/trashHover.svg');
}
#addEmployeeForm{
  display: block;
  margin: auto;
  row-gap: 10px;
  width: 70%;
}
.nameField{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.nameField, .form-team-list, .form-position{
  margin-bottom: 20px;
}
.row2{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 50px;
  background-color: red;
}
.form-team-list{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
#navbar-nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
li{
  padding-bottom: 10px;
  list-style-type: none;
  color: #aaa;
  font-size: 1rem;
}
li:hover{
  color: #bfbfbf;
}
@media only screen and (max-width:600px){
  .card-collection{
    grid-template-columns: 1fr;
  }
}
